@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";



/* light theme base */
:root {
  --background: #ffffff;
  --foreground: #0f0f0f;
  --primary: #ff0000;
  --secondary: #f1f1f1;
  --muted: #606060;
  color-scheme: light;
}

/* dark theme base */
[data-theme="dark"] {
  --background: #0f0f0f;
  --foreground: #f1f1f1;
  --primary: #ff0000;
  --secondary: #272727;
  --muted: #aaaaaa;
  color-scheme: dark;
}


html {
  transition: background-color .2s, color .2s;
}

/* Tailwind utilities + CSS variable usage */
html,
body,
#root {
  background-color: var(--background);
  color: var(--foreground);
}

/* font */

* {
  font-family: "Roboto", sans-serif;
}

/* scrollbar-hide class define */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.slideIn {
  animation: slideIn 0.1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}